<app-nav></app-nav>
<form #createDepForm="ngForm" (ngSubmit)="create()">
    <div class="login-form-main-message"></div>
    <div class="main-login-form">
        <div class="login-group">
            <div class="form-group">
                <label for="departementname" class="sr-only">Departement Name</label>
                <input type="text" class="form-control" id="name" required name="name" [(ngModel)]="model.name" placeholder="Departement Name">
            </div> 
            <div class="form-group">
                <input type="checkbox" id="isactive"  name="isactive" [(ngModel)]="model.isactive"> Is Active
            </div>
            
            
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!createDepForm.valid">Add Departement</button>
        <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    </div>
   
</form>